.register__title {
  color: rgb(70, 70, 70);
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 12px;
}
.regiter__about--text {
  color: rgb(140, 141, 141);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 40px;
}

.form__navigatebtn {
  outline: none;
  cursor: pointer;
  background: none;
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(184, 94, 255);
  border-radius: 48px;
  color: rgb(184, 94, 255);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
}
.form__navigatebtn:hover {
  opacity: 0.8;
}
