.homecard {
  width: 250px;
  position: relative;
}
.homecard__value {
  position: absolute;
  cursor: pointer;
  top: 80px;
  left: calc(50% - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 0, 0.948),
    rgb(255, 85, 0)
  );
  font-size: 30px;
  color: white;
}
