.chargehome__list {
  display: flex;
  align-items: center;
  gap: 4px;
}

.chargehome__listitem {
  display: block;
  width: 25px;
  height: 50px;
  border-radius: 4px;
  border: 2px solid #fff;
}
.chargehome__listitem--active {
  background-color: rgb(226, 194, 18);
}
